* {
  box-sizing: border-box;
}

body {
  font-family: Karla, sans-serif;
  margin: 0;
  background: #0b2434;
  display: flex;
  justify-content: center;
}

main {
  border-radius: 10px;
  background: #f5f5f5;
  padding: 33.28px 34.56px 33.92px 34.56px;
  margin: 30px 20px;
  width: 360px;
  height: 379px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  column-gap: 18px;
  row-gap: 19px;
}

.die {
  width: 35.84px;
  height: 35.84px;
  flex-shrink: 0;
  border-radius: 3.813px;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2b283a;
  font-family: Karla, sans-serif;
  font-size: 20.589px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.die:hover {
  background-color: #9ff5c2;
}

.roll-dice-btn {
  width: 92.16px;
  height: 35.84px;
  border-radius: 3.813px;
  background: #5035ff;
  box-shadow: 0 3.2px 7.68px 0 rgba(0, 0, 0, 0.18);
  border: none;
  color: #fff;
  text-align: center;
  font-family: Karla;
  font-size: 16.384px;
  font-weight: 700;
  margin-top: 26px;
  cursor: pointer;
  font-family: Karla, sans-serif;
}

.roll-dice-btn:hover {
  background-color: #7a64ff;
}
